USE [master]
GO
/****** Object:  Database [DentalClinic]    Script Date: 8/4/2022 4:32:42 PM ******/
CREATE DATABASE [DentalClinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DentalClinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.QUANGVAN037\MSSQL\DATA\DentalClinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DentalClinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.QUANGVAN037\MSSQL\DATA\DentalClinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DentalClinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DentalClinic]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[bookingID] [nvarchar](50) NOT NULL,
	[patientID] [nvarchar](50) NOT NULL,
	[serviceID] [nvarchar](50) NOT NULL,
	[doctorID] [nvarchar](50) NOT NULL,
	[dateBooking] [smalldatetime] NOT NULL,
	[timeBooking] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryService]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryService](
	[categoryID] [nvarchar](50) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_CategoryService] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[doctorID] [nvarchar](50) NOT NULL,
	[aboutDR] [nvarchar](max) NULL,
	[categoryID] [nvarchar](50) NULL,
	[shift] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackID] [nvarchar](50) NOT NULL,
	[patientID] [nvarchar](50) NOT NULL,
	[bookingID] [nvarchar](50) NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[dateFeedback] [smalldatetime] NOT NULL,
	[timeFeedback] [smalldatetime] NOT NULL,
	[status] [bit] NOT NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[categoryId] [int] NOT NULL,
	[tittle1] [nvarchar](max) NULL,
	[context1] [nvarchar](max) NULL,
	[image1] [nvarchar](max) NULL,
	[tittle2] [nvarchar](max) NULL,
	[context2] [nvarchar](max) NULL,
	[image2] [nvarchar](max) NULL,
	[tittle3] [nvarchar](max) NULL,
	[context3] [nvarchar](max) NULL,
	[image3] [nvarchar](max) NULL,
	[tittle4] [nvarchar](max) NULL,
	[context4] [nvarchar](max) NULL,
	[image4] [nvarchar](max) NULL,
	[tittle5] [nvarchar](max) NULL,
	[context5] [nvarchar](max) NULL,
	[image5] [nvarchar](max) NULL,
	[timepost] [date] NULL,
	[idDetai] [int] NOT NULL,
	[allcontext] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [nvarchar](50) NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[scheduleID] [nvarchar](50) NOT NULL,
	[doctorID] [nvarchar](50) NOT NULL,
	[slotID] [nvarchar](50) NOT NULL,
	[dayWork] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[scheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[serviceID] [nvarchar](50) NOT NULL,
	[serviceName] [nvarchar](50) NOT NULL,
	[image] [nvarchar](50) NULL,
	[categoryID] [nvarchar](50) NOT NULL,
	[price] [nvarchar](50) NOT NULL,
	[aboutSV] [nvarchar](max) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[slotID] [nvarchar](50) NOT NULL,
	[slotName] [nvarchar](50) NOT NULL,
	[slotTime] [varchar](50) NOT NULL,
	[slotDateStart] [nvarchar](50) NULL,
	[slotDateEnd] [varchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Slot] PRIMARY KEY CLUSTERED 
(
	[slotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/4/2022 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[roleID] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[image] [nvarchar](50) NULL,
	[birthday] [smalldatetime] NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Booking] ([bookingID], [patientID], [serviceID], [doctorID], [dateBooking], [timeBooking], [status]) VALUES (N'BK01', N'manman', N'SV0003', N'DR0004', CAST(N'2022-06-30T00:00:00' AS SmallDateTime), N'08:30', N'Finished')
INSERT [dbo].[Booking] ([bookingID], [patientID], [serviceID], [doctorID], [dateBooking], [timeBooking], [status]) VALUES (N'BK02', N'manman', N'SV0004', N'DR0004', CAST(N'2022-06-27T00:00:00' AS SmallDateTime), N'16:30', N'Finished')
INSERT [dbo].[Booking] ([bookingID], [patientID], [serviceID], [doctorID], [dateBooking], [timeBooking], [status]) VALUES (N'BK03', N'manman', N'SV0002', N'DR0003', CAST(N'2022-06-30T00:00:00' AS SmallDateTime), N'15:00', N'Finished')
GO
INSERT [dbo].[CategoryService] ([categoryID], [categoryName], [status]) VALUES (N'CT0001', N'Cấy ghép', 1)
INSERT [dbo].[CategoryService] ([categoryID], [categoryName], [status]) VALUES (N'CT0002', N'Niềng răng', 1)
INSERT [dbo].[CategoryService] ([categoryID], [categoryName], [status]) VALUES (N'CT0003', N'Thẩm Mỹ', 1)
GO
INSERT [dbo].[Doctor] ([doctorID], [aboutDR], [categoryID], [shift]) VALUES (N'DR0001', N'', N'CT0001', N'Morning')
INSERT [dbo].[Doctor] ([doctorID], [aboutDR], [categoryID], [shift]) VALUES (N'DR0002', NULL, N'CT0001', N'Morning')
INSERT [dbo].[Doctor] ([doctorID], [aboutDR], [categoryID], [shift]) VALUES (N'DR0003', NULL, N'CT0002', N'Afternoon')
GO
INSERT [dbo].[Feedback] ([feedbackID], [patientID], [bookingID], [comment], [dateFeedback], [timeFeedback], [status], [rating]) VALUES (N'FB01', N'manman', N'BK16', N'bác sĩ tận tình ,  làm niềng răng bền và không bị đau răng ', CAST(N'2022-07-18T00:00:00' AS SmallDateTime), CAST(N'1900-01-01T20:44:00' AS SmallDateTime), 1, 5)
INSERT [dbo].[Feedback] ([feedbackID], [patientID], [bookingID], [comment], [dateFeedback], [timeFeedback], [status], [rating]) VALUES (N'FB02', N'manman', N'BK01', N'<blockquote>
<p>Dịch vụ tốt, b&aacute;c sĩ tận t&igrave;nh&nbsp;<img alt="heart" src="http://localhost:8080/dental-demo-2/ckeditor/plugins/smiley/images/heart.png" style="height:23px; width:23px" title="heart" /></p>
</blockquote>
', CAST(N'2022-08-01T00:00:00' AS SmallDateTime), CAST(N'1900-01-01T13:57:00' AS SmallDateTime), 1, 5)
INSERT [dbo].[Feedback] ([feedbackID], [patientID], [bookingID], [comment], [dateFeedback], [timeFeedback], [status], [rating]) VALUES (N'FB03', N'manman', N'BK02', N'<p>dịch vụ tốt, ph&ograve;ng kh&aacute;m sạch, gi&aacute; th&agrave;nh rẻ.</p>
', CAST(N'2022-08-01T00:00:00' AS SmallDateTime), CAST(N'1900-01-01T13:58:00' AS SmallDateTime), 1, 4)
GO
INSERT [dbo].[Role] ([roleID], [roleName], [status]) VALUES (N'AD', N'Admintrator', 1)
INSERT [dbo].[Role] ([roleID], [roleName], [status]) VALUES (N'DR', N'Doctor', 1)
INSERT [dbo].[Role] ([roleID], [roleName], [status]) VALUES (N'PT', N'Patient', 1)
GO
INSERT [dbo].[Schedule] ([scheduleID], [doctorID], [slotID], [dayWork], [status]) VALUES (N'SCD01', N'DR0001', N'SL01', N'Monday', 1)
INSERT [dbo].[Schedule] ([scheduleID], [doctorID], [slotID], [dayWork], [status]) VALUES (N'SCD02', N'DR0001', N'SL02', N'Monday', 1)
INSERT [dbo].[Schedule] ([scheduleID], [doctorID], [slotID], [dayWork], [status]) VALUES (N'SCD03', N'DR0001', N'SL03', N'Monday', 1)
GO
INSERT [dbo].[Slot] ([slotID], [slotName], [slotTime], [slotDateStart], [slotDateEnd], [status]) VALUES (N'SL01', N'Slot 1', N'07:00', N'Monday', N'Friday', 1)
INSERT [dbo].[Slot] ([slotID], [slotName], [slotTime], [slotDateStart], [slotDateEnd], [status]) VALUES (N'SL02', N'Slot 2', N'07:30', N'Monday', N'Friday', 1)
INSERT [dbo].[Slot] ([slotID], [slotName], [slotTime], [slotDateStart], [slotDateEnd], [status]) VALUES (N'SL03', N'Slot 3', N'08:00', N'Monday', N'Friday', 1)
GO
INSERT [dbo].[Users] ([userID], [password], [fullName], [roleID], [gender], [address], [image], [birthday], [email], [phone], [status]) VALUES (N'  ', N'1', N'  ', N'PT', N'', N'', N'macdinh.jpg', NULL, N'admin@fpt.edu.vn', N'', 1)
INSERT [dbo].[Users] ([userID], [password], [fullName], [roleID], [gender], [address], [image], [birthday], [email], [phone], [status]) VALUES (N'AD0001', N'1', N'Đặng Thành An', N'AD', N'male', N'Hồ Chí Minh', NULL, CAST(N'1989-02-02T00:00:00' AS SmallDateTime), N'thanhan@gmail.com', N'0853966547', 1)
INSERT [dbo].[Users] ([userID], [password], [fullName], [roleID], [gender], [address], [image], [birthday], [email], [phone], [status]) VALUES (N'DR0001', N'1', N'Võ Văn Tự Hiến', N'DR', N'male', N'Hồ Chí Minh', N't6.jpg', CAST(N'1980-02-11T00:00:00' AS SmallDateTime), N'tuhien@gmail.com', N'0678678678', 1)
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Service] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Service]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Users] FOREIGN KEY([patientID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Users]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_CategoryService] FOREIGN KEY([categoryID])
REFERENCES [dbo].[CategoryService] ([categoryID])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_CategoryService]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Users] FOREIGN KEY([doctorID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Users]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Booking] FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Booking]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Users] FOREIGN KEY([patientID])
REFERENCES [dbo].[Users] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Users]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Doctor] FOREIGN KEY([doctorID])
REFERENCES [dbo].[Doctor] ([doctorID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Doctor]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Slot] FOREIGN KEY([slotID])
REFERENCES [dbo].[Slot] ([slotID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Slot]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_CategoryService] FOREIGN KEY([categoryID])
REFERENCES [dbo].[CategoryService] ([categoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_CategoryService]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
